<% if object.errors.any? %>
  <div class='alert alert-danger'>
    <h4>Oops...</h4>
    <ul class='list list-unstyled'>
      <% object.errors.each do |field, error| %>
        <li><strong><%= field.to_s.humanize %></strong> <%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>