<div class='row'>
  <div class='col-lg-12'>
    <h2>Logic Puzzle</h2>
    <p>In the year 2034, Seattle has finished building an underground metro that serves the whole city. Susannah is a native Seattleite who lives in the middle of Capitol Hill and takes the metro to the grocery store every Sunday. The metro runs right underneath Broadway Avenue. There is a single platform in the middle that allows Susannah to get on a train in either direction. Susannah's train stop is equidistant from two QFC grocery stores, the one at Broadway Market and the one at Harvard Market. She arrives at the platform at a random time every Sunday. Both trains run every 10 minutes. She doesn't care which grocery store she goes to, but she is surprised to find out that she ends up going to the QFC at Harvard Market 90% of the time. Why is Susannah ending up at one grocery store significantly more often than the other?</p>
  </div>
</div>